{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Question</title>
    <link rel="stylesheet" href="{% static 'css/question.css' %}" />
  </head>
  <body>
    <header>
      <h2>Poll Application</h2>
    </header>
    <div class="head">
      <div class="main">
        <h2>{{ question.question }}</h2>
        <form method="post">
          <div class="options">
            {% csrf_token %}
            <label
              ><input
                type="radio"
                name="option"
                value="{{ question.option1 }}"
              />
              {{ question.option1 }}</label
            ><br />
            <label
              ><input
                type="radio"
                name="option"
                value="{{ question.option2 }}"
              />
              {{ question.option2 }}</label
            ><br />
            <label
              ><input
                type="radio"
                name="option"
                value="{{ question.option3 }}"
              />
              {{ question.option3 }}</label
            ><br />
          </div>
          <div class="btn">
            <button type="submit">Submit</button>
            <a href="{% url 'project' %}" id="back">Back to Questions</a>   
          </div>
        </form>
        {% comment %} <p>{{ question.option1 }}: {{ question.option1_count }} votes</p>
        <p>{{ question.option2 }}: {{ question.option2_count }} votes</p>
        <p>{{ question.option3 }}: {{ question.option3_count }} votes</p> {% endcomment %}

     
      </div>
    </div>
  </body>
</html>
